<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div ng-app="trialFormApp" ng-controller="trialFormController" class='container'>
  <form name='regForm'>
    
	<div class='form-group'>
        <label for="firstName">First name</label> 
        <span class='error' ng-show = "regForm.firstName.$touched && regForm.firstName.$error.invalid">Please enter a first name</span> 
		<input class='form-control' type='text' name='firstName' ng-model='firstName' maxlength='35' required="" />
	</div>
	
	<div class='form-group'>
        <label for="lastName">Last name</label> 
        <span class='error' ng-show = "regForm.lastName.$touched && regForm.lastName.$error.invalid">Please enter a last name</span> 
		<input class='form-control' type='text' name='lastName' ng-model='lastName' maxlength='35' required="" />
	</div>
	<div class='form-group'>
        <label for="age">Age</label> 
        <span class='error' ng-show = "regForm.age.$touched && regForm.age.$invalid">Please enter your age</span> 
		<input class='form-control' size='3' type='number' min='1' max='130' name='age' ng-model='age' required="" />
	</div>
	<div class='form-group'>
        <label for="email">Email</label> 
        <span class='error' ng-show = "regForm.email.$touched && regForm.email.$error.email">Please enter a valid email address</span> 
		<input class='form-control' type='email' name='email' ng-model='email' maxlength='254' required="" />
	</div>
	
	 <div class='form-group'>
        <label for="country">Country</label> 
        <span ng-show="registrationForm.country.$invalid">Please select a country</span> 
        <select class='form-control' name='country' ng-model='country' required="">
          <option>Australia</option>
          <option>Canada</option>
          <option>United Kingdom</option>
        </select>
	</div>
	
	
	<div class='form-group'>
        <label for="phone">Phone</label> 
        <span class='error' ng-show="regForm.phone.$touched && regForm.phone.$invalid">Please enter a phone number</span> 
		<input class='form-control' pattern='^[0-9]+$' type='text' maxlength='15' name='phone' ng-model='phone' required="" />
	</div>
	
	<div class='form-group'>
		<label for="Date">Date</label> 
        <span class='error' ng-show="regForm.date.$touched && regForm.date.$invalid">Please enter a date</span> 
		<input class='form-control' type="date" name='date' ng-model='date' required="" />
	</div>
	<input type='button' class="btn btn-primary btn-lg btn-block" ng-click='checkInfo()' value='Submit' />
	
  </form>

       <!-- The Modal -->
	<div name="summaryDialog" class="modal modal-dialog">
		<!-- Modal content -->
		<div class="modal-content">
		<div class="modal-header">
		  <span class="close">x</span>
		  <h2><div id='summaryHeader'></div></h2>
		</div>
		<div class="modal-body" id='summaryText'></div>
	  </div>

	</div>
  
  
</div>

<script>
//Modal code

// Gets the modal window
var summaryDialog = document.getElementsByName('summaryDialog')[0]
// Gets the close button
var closeButton = document.getElementsByClassName("close")[0];


// Closes modal if the user clicks outside of it
window.onclick = function(event) {
	if (event.target == summaryDialog) {
		summaryDialog.style.display = "none";
	}
}

// Close the modal when the user clicks on the 'x'
closeButton.onclick = function() {
	summaryDialog.style.display = "none";
}

//Form code
var app = angular.module('trialFormApp', []);
app.controller('trialFormController', function($scope, $http, $window) {
	$scope.checkInfo = function() {
		content = ""
		//Is the form valid? Display list of values
		if ($scope.regForm.$valid){
			document.getElementById('summaryHeader').innerHTML = "Summary"
			content += "Please confirm the following is correct <ul>"
			content += "<li>First name: "+$scope.firstName+"</li>"
			content += "<li>Last name: "+$scope.lastName+"</li>"
			content += "<li>Age: "+$scope.age+"</li>"
			content += "<li>Email: "+$scope.email+"</li>"
			content += "<li>Phone: "+$scope.phone+"</li>"
			content += "<li>Country: "+$scope.country+"</li>"
			date = $scope.date
			date = date.getDate()+"/"+date.getMonth()+"/"+date.getFullYear()
			content += "<li>Date: "+date+"</li>"
			content += "</ul>"
			formData = new Array()
			formData.push($scope.firstName)
			formData.push($scope.lastName)
			formData.push($scope.age)
			formData.push($scope.country)
			formData.push($scope.email)
			formData.push($scope.phone)
			formData.push($scope.date)			
			content += "<input class='btn btn-primary btn-lg btn-block' type='button' id='saveBtn' value='Save' onClick='saveData(formData)'></input>"
		}
		//Display errors made
		else {
			document.getElementById('summaryHeader').innerHTML = "Error"
			content = "Please fix the following issues and try again <ul>"
			if($scope.regForm.firstName.$invalid){content += "<li>Please enter a valid first name</li>"}
			if($scope.regForm.lastName.$invalid){content += "<li>Please enter a valid last name</li>"}
			if($scope.regForm.age.$invalid){content += "<li>Please enter a valid age</li>"}
			if($scope.regForm.email.$invalid){content += "<li>Please enter a valid email</li>"}
			if($scope.regForm.country.$invalid){content += "<li>Please select a country</li>"}
			if($scope.regForm.phone.$invalid){content += "<li>Please enter a valid phone number</li>"}
			if($scope.regForm.date.$invalid){content += "<li>Please enter a valid date</li>"}
			content += "</ul>"
		}
		document.getElementById('summaryText').innerHTML = content
		summaryDialog.style.display = "block";
	}
	$scope.saveData = function() {
		summaryDialog.style.display = "none";
	}
});
function saveData(formData){
    //Opens connection
	var http = new XMLHttpRequest();
    http.open("POST", "http://localhost:8080", true);
	
	//Creates our JSON object to send
	date = formData[6].getFullYear()+"-"+formData[6].getMonth()+"-"+formData[6].getDate()
	var customer = {
		firstName: formData[0],
		lastName: formData[1],
		age: formData[2],
		country: formData[3],
		email: formData[4],
		phone: formData[5],
		creationDate: date
	};
	//Sends it as a string
    http.send(JSON.stringify(customer));
	
	//Redirects to summary table
	window.location = "summary.html";
}

</script>

</body>
</html>